.splash-wrapper-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.horizontal-center-div {
    margin: auto;
}

.arial-font {
    font-family: Arial, Helvetica, sans-serif;
}

.center-text {
    position: relative;
    left: 83px;
    font-family: Arial, Helvetica, sans-serif;
}

.login-button {
    position: relative;
    right: 26px;
    top: 10px;
    color: white;
    padding: 5px 15px;
    width: 110%;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}