.credential-div {
    position: relative;
    top: 10px;
    margin:auto;
    padding: 25px;
    width:40%;
}

.login-input {
    padding: 5px;
    margin: 6px 0;
    border: 1px solid gray;
}

.login-label {
    font-family: Arial, Helvetica, sans-serif
}

.password-div {
    position: relative;
    top: -20px;
    margin:auto;
    padding: 25px;
    width:40%;
}

.button-div {
    position: relative;
    top: -40px;
    left: 80px;
    padding: 25px;
    width:40%;
}

.login-button {
    color: white;
    padding: 5px 15px;
    width: 110%;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.non-modal-login-button {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}

.login-button-div {
    cursor: pointer;
    margin-left: 84vw;
}